{% extends 'base.html' %}

{% block head %}
<title>Course and Competence Search</title>
{% endblock %}

{% block body %}
<div class="intro">
    <h1>Course and Competence Search</h1>
    <p> You can get all Competencies covered by a Course (Course-description ID), the list of competencies will be either in ESCO or W3C Verifiable Credentials (VC) dataformat.
      You can also query/filter Course (Course-descriptions) by Competenc(y/ies)</p>
</div>

<div class="main_block">
    <form action="/" method="GET">
   
      <input type="text" name="name" id="name" placeholder="Please enter the course name or competence name" required/>
      
      <div class="radio_options">
        <input type="radio" value="none" id="male" name="gender" checked/>
        <label for="male" class="radio">course name</label>
        <input type="radio" value="none" id="female" name="gender" />
        <label for="female" class="radio">competence name</label>
      </div>

      <input type="submit" value="Search">

    </form>
  </div>


{% endblock %}

<!-- braket with percentage mark: flask(jinja2) and django syntax -->